.card {
    height: auto;
    width: auto;
    background-color: #121212;
    margin-bottom: 3vh;
    border-radius: 20px;
    border-style: solid;
    border-width: .1px;
    border-color: #9E9E9E;
    margin-left: 3vw;
    margin-right: 3vw;
    display: flex;
    flex-direction: column;
    scrollbar-color: #9921e8;
}

.profile_icon {
    width: 75px;
    height: 75px;
    background-size: contain;
    border-radius: 50%;
    margin-top: 5%;
    margin-left: 5%;
  }

  .company_name {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: #FAFAFA;
    margin-top: 10%;
    margin-left: 2%;
    font-weight: 500;
    min-width: 14vw;
    text-align: left;
  }

  .job_title {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: #FAFAFA;
    margin-top: 2%;
    margin-left: 3%;

  }


  .job_description {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 8;
    color: #9E9E9E;
    margin-top: 1%;
    margin-left: 3%;
    margin-right: 3%;
    font-weight: 400;
    text-align: left;
    
  }


  .job_location_icon {
    margin-top: 1%;
    margin-left: 3%;
  }

  .job_location {
    margin-top: 1%;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 8;
    color: #FAFAFA;
    margin-left: 1%;
    font-weight: 400;
    text-align: left;
  }

  .line_break {
    height: .1%;
    width: 94%;
    background-color: #9E9E9E;
    margin-top: 3%;
    margin-left: 3%;
    margin-right: 3%;
  }

  .job_info {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 8;
    color: #9E9E9E;
    margin-top: 3%;
    margin-left: 3%;
    font-weight: 400;
    text-align: left;
  }

  .job_info_icon {
    margin-top: 3%;
    margin-left: 3%;
  }

  .job_apply_button {
    margin-top: 5%;
    margin-left: 3%;
    margin-right: 3%;
    height: auto;
    border-radius: 25px;
    background-color: #9921e8;
    background-image: linear-gradient(315deg, #9921e8 0%, #5f72be 74%);
    justify-content: center;
    width: auto;
    display: flex;
  }

  .apply_icon {
    height: 50px;
    width: 50px;
  }


  .apply_text {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: #FAFAFA;
    margin-top: 3%;
  }

  .job_bookmark_icon {
    margin-top: 10%;
  }

  .job_share_icon {
    margin-top: 10%;
    margin-left: 2%;
  }


  .job_waitlist_button {
    margin-top: 5%;
    margin-left: 3%;
    margin-right: 3%;
    height: auto;
    width: auto;
    border-radius: 25px;
    background-color: #2a2a72;
    background-image: linear-gradient(315deg, #2a2a72 0%, #009ffd 74%);
    justify-content: center;
    display: flex;
  }

  .waitlist_icon {
    margin-top: 4%;
    margin-right: 3%;
  }




