
@font-face {
  font-family: 'Jura';
  src: url('../styles/fonts/Jura/static/Jura-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Jura';
  src: url('../styles/fonts/Jura/static/Jura-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

.login {
    min-height: 88vh;
    height: auto;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
  }


.login-slide-1 {
  display: flex;
  flex-direction: row;
}


  .login-flash-ui {
    width: 1293.381px;
    height: 340.074px;
    transform: rotate(-165deg);
    flex-shrink: 0;
    border-radius: 102.5px;
    opacity: 0.2;
    background: var(--gr-01, linear-gradient(135deg, #5271C4 0%, #5371C4 11.79%, #5773C6 21.38%, #5D74C8 29.12%, #6577CB 35.34%, #6E7ACF 40.37%, #797DD3 44.56%, #8581D7 48.24%, #9185DC 51.76%, #9F89E1 55.44%, #AC8DE6 59.63%, #BA91EB 64.66%, #C796F0 70.88%, #D49AF5 78.62%, #E19DFA 88.21%, #ECA1FE 100%));
    filter: blur(117px);
    margin-left: 25%;
    margin-top: 10%;
  }

  .login-text-container {
    margin-right: 25%;
    margin-left: 7%;
    margin-top: 5%;
  }

  .new-text-container-new {
    margin-right: 10%;
    margin-left: 10%;
    margin-top: 5%;
  }

  .login-big-text {
    color: #FFF;
    font-family: 'Jura';
    font-size: 60px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px; /* 71.429% */
    white-space: nowrap;

  }

  .login-medium-text {
    color: #FFF;
    font-family: 'Jura';
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 1.12px;
    text-align: left;

  }

  .login-small-text {
    margin-top: 5%;
    overflow: hidden;
    color: rgba(255, 255, 255, 0.80);
    text-overflow: ellipsis;
    font-family: 'Jura';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; 
    text-align: left;
    display: -webkit-box;
    width: 450px;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;

  }

  .signIn-button {
    margin-top: 5%;
    width: 253px;
    height: 40px;
    flex-shrink: 0;
    border-radius: 8px;
    background: linear-gradient(135deg, rgba(82, 113, 196, 0.10) 0%, rgba(83, 113, 196, 0.10) 11.79%, rgba(87, 115, 198, 0.10) 21.38%, rgba(93, 116, 200, 0.10) 29.12%, rgba(101, 119, 203, 0.10) 35.34%, rgba(110, 122, 207, 0.10) 40.37%, rgba(121, 125, 211, 0.10) 44.56%, rgba(133, 129, 215, 0.10) 48.24%, rgba(145, 133, 220, 0.10) 51.76%, rgba(159, 137, 225, 0.10) 55.44%, rgba(172, 141, 230, 0.10) 59.63%, rgba(186, 145, 235, 0.10) 64.66%, rgba(199, 150, 240, 0.10) 70.88%, rgba(212, 154, 245, 0.10) 78.62%, rgba(225, 157, 250, 0.10) 88.21%, rgba(236, 161, 254, 0.10) 100%); 
    justify-content: flex-start;   
    flex-direction: row;
    display: flex;
    align-items: center;
  }

  .signIn-button-text {
    color: #FFF;
    text-align: center;
    font-family: 'Jura';
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.32px;
    margin-left: 5%;
  }
  .login-slide-1-pic-cont  {
    width: 40vw;
    height: 50vh;
    flex-shrink: 0;
    border-radius: 12px;
    background: linear-gradient(135deg, rgba(82, 113, 196, 0.05) 0%, rgba(83, 113, 196, 0.05) 11.79%, rgba(87, 115, 198, 0.05) 21.38%, rgba(93, 116, 200, 0.05) 29.12%, rgba(101, 119, 203, 0.05) 35.34%, rgba(110, 122, 207, 0.05) 40.37%, rgba(121, 125, 211, 0.05) 44.56%, rgba(133, 129, 215, 0.05) 48.24%, rgba(145, 133, 220, 0.05) 51.76%, rgba(159, 137, 225, 0.05) 55.44%, rgba(172, 141, 230, 0.05) 59.63%, rgba(186, 145, 235, 0.05) 64.66%, rgba(199, 150, 240, 0.05) 70.88%, rgba(212, 154, 245, 0.05) 78.62%, rgba(225, 157, 250, 0.05) 88.21%, rgba(236, 161, 254, 0.05) 100%);
    backdrop-filter: blur(20px);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .ss1 {
    width: 90%;
    height: 90%;
    flex-shrink: 0;
    border-radius: 8px;
    backdrop-filter: blur(20px);

  }
  
  .login_container {
    text-align: center;
    background-color: #121212;
    border-radius: 20px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    color: #f8f8f8;
    height: 80%;
    width: 30%;
  }

  .job_card_slide_container {
    background: var(--gr-03, linear-gradient(150deg, #161624 0%, #25243C 100%));
    width: 100%; /* Take up full width */
    height: 33vh;
    margin-top: 2%;
    overflow: hidden; /* Hide overflow to hide extra cards */
    position: relative;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
  }

  .ticker-track {
    display: flex;
    animation: tickerSlide 20s linear infinite;
    width: 300%;
    overflow: hidden; 
    margin-top: 1%;
  }

  .ticker_track > div {
    flex: 0 0 auto; /* Prevent cards from shrinking */
}

  @keyframes tickerSlide {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-50%); /* Adjust the distance as needed */
    }
  }

  .login_text {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-weight: 400;
  }
  
  .crewmate_image {
    object-fit: contain;
    height: 400px;
  }
  

  .login_button {
    margin-top: 5%;
    margin-left: 3%;
    margin-right: 3%;
    height: 2%;
    border-radius: 15px;
    background-color: #FFFFFF;
    justify-content: center;
  }



  .login_text_button {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 16;
    color: #121212;
    margin-top: 3%;
    margin-left: 10%;
  }
  .login_text_button_guest {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 16;
    color: #121212;
    margin-top: 3%;
    color: #FFFFFF;
  }

  .login_icon {
    height: 25px;
    width: 25px;
    margin-top: 3%;
    margin-left: 3%;
  }

  .login-slide-2-pic-cont  {
    width: 30vw;
    height: 30vh;
    flex-shrink: 0;
    border-radius: 12px;
    background: linear-gradient(135deg, rgba(82, 113, 196, 0.05) 0%, rgba(83, 113, 196, 0.05) 11.79%, rgba(87, 115, 198, 0.05) 21.38%, rgba(93, 116, 200, 0.05) 29.12%, rgba(101, 119, 203, 0.05) 35.34%, rgba(110, 122, 207, 0.05) 40.37%, rgba(121, 125, 211, 0.05) 44.56%, rgba(133, 129, 215, 0.05) 48.24%, rgba(145, 133, 220, 0.05) 51.76%, rgba(159, 137, 225, 0.05) 55.44%, rgba(172, 141, 230, 0.05) 59.63%, rgba(186, 145, 235, 0.05) 64.66%, rgba(199, 150, 240, 0.05) 70.88%, rgba(212, 154, 245, 0.05) 78.62%, rgba(225, 157, 250, 0.05) 88.21%, rgba(236, 161, 254, 0.05) 100%);
    backdrop-filter: blur(20px);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 5%;
    margin-top: 5%;
    margin-bottom: 5%;
  }

  .login-big-text-2 {
    color: #FFF;
    font-family: 'Jura';
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.64px;
    text-align: left;

  }

  .login-small-text-2 {
    overflow: hidden;
    color: rgba(255, 255, 255, 0.80);
    text-overflow: ellipsis;
    font-family: Jura;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px; /* 160% */
    display: -webkit-box;
    width: 774px;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    text-align: left;

  }


  .other_button {
    margin-top: 5%;
    margin-left: 3%;
    margin-right: 3%;
    height: 2%;
    border-radius: 15px;
    justify-content: center;
    background: linear-gradient(135deg, #7B3AFD 0%, #C962ED 100%);
  }

  .footer-container {
    height: 15vh;
    width: 100vw;
    background: var(--gr-03, linear-gradient(150deg, #161624 0%, #25243C 100%));
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }

  .footer-content-container {
    text-align: left;
    margin-left: 5%;
  }


  .footer-img {
    height: 3vw;
    width: auto;
    object-fit: contain;
  }

  .footer-text {
    color: rgba(255, 255, 255, 0.50);
    font-family: 'Jura';
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.24px;
  }
